<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultHttpBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="NoneSecurity" maxBufferPoolSize="12000000" maxReceivedMessageSize="12000000" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="12000000" maxArrayLength="12000000"/>
          <security mode="None"/>
        </binding> 
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Deepleo.Commander.Services.CommanderService" behaviorConfiguration="DefaultHttpBehavior">
        <endpoint listenUriMode="Explicit" binding="wsHttpBinding" bindingConfiguration="NoneSecurity" contract="Deepleo.Commander.Services.ICommanderService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5566/CommanderService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
