<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--网站域名，必须80端口，不要以/结尾-->
    <add key="Domain" value="http://demo.weixinsdk.net"/>
    <!--微信Token-->
    <add key="Token" value=""/>
    <!--微信消息体加密对应的EncodingAESKey-->
    <add key="EncodingAESKey" value=""/>
    <!--微信AppId-->
    <add key="AppID" value=""/>
    <!--微信AppSecret-->
    <add key="AppSecret" value=""/>
    <!--用于微信支付的PartnerKey-->
    <add key="PartnerKey" value=""/>
    <!--用于微信支付的商户号-->
    <add key="mch_id" value=""/>
    <!--用于微信支付的设备号-->
    <add key="device_info" value=""/>
    <!--用于微信支付的服务端IP地址-->
    <add key="spbill_create_ip" value=""/>

    <!--微信Oauth: 
     snsapi_base:      不弹出授权页面，直接跳转，只能获取用户openid;
     snsapi_userinfo:  出授权页面，可通过openid拿到昵称、性别、所在地。并且，即使在未关注的情况下，只要用户授权，也能获取其信息.-->
    <add key="OauthScope" value="snsapi_userinfo"/>

    <!--是否开启微信JS接口，1：开启，0：不开启（由于开启JS功能需要定时获取jstickect,会消耗一部分性能，所以不需要JS接口的请写0）-->
    <add key="OpenJSSDK" value="1"/>

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms" >
      <forms loginUrl="~/Account/Login" name="weixinsdk_cookies"  slidingExpiration="true" timeout="30" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICommanderService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5566/CommanderService/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICommanderService" contract="CommandServiceReference.ICommanderService"
        name="WSHttpBinding_ICommanderService" />
    </client>
  </system.serviceModel>
</configuration>
