@{
    ViewBag.Title = "WeixinSDK demo";
}
<h2>
    Index
</h2>
<ul>
    <li><a href="/jssdk">JSSDK</a></li>
    <br />
    <li><a href="/wxpay/">公众号网页支付</a></li>
    <br />
    <li><a href="/OAuth">微信OAuth</a></li>
</ul>
<span style=" font-size:10px; color:Orange;">注意：请确认公众号有调用API的权限（登录后台 http://mp.weixin.qq.com/ 开发者中心查看）</span>
